body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  background: #1e2b37;
  color: #ecf0f1;
}

.container {
	text-align: center;
}

.country path {
	fill: none;
}

.axis path {
	stroke: #bdc3c7;
	stroke-width: 1;
	fill: none;
}

.tick {
	fill: rgba(127, 140, 141, 0.7);
}

.tick line {
	stroke: rgba(52, 73, 94, 0.5);
}