body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  background: #122435;
  color: #ecf0f1;
}

h2 {
	font-size: 16px;
	margin-bottom: 0;
	font-weight: normal;
	color: #90A0A1;
}

.container {
	text-align: center;
}

.country path {
	fill: none;
}

.axis path {
	stroke: #bdc3c7;
	stroke-width: 1;
	fill: none;
}

.tick {
	fill: rgba(127, 140, 141, 0.7);
}

.tick line {
	stroke: rgba(52, 73, 94, 0.5);
}